* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(207, 255, 209);
  font-family: "Fjalla One", sans-serif;
  margin: 0 auto;
  margin: 10px;
}
/**imagen principal**/
.main-img {
  font-family: "Fjalla One", sans-serif;
  font-size: 85px;
  color: #0f460f;
  font-style: italic;
  width: 100%;
  height: 400px;
  text-transform: uppercase;
  background-image: url("../img/verduras-principal.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #0f460f;
}
/*modificas con bootstrap*/
.carousel {
  margin: 100px;
}
/**menu paginas externas**/
.main-pages {
  background-color: #0f460f;
  display: flex;
  height: 60px;
}
.main-items {
  font-size: 30px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}
.item-list:link,
.item-list:visited {
  color: #fff;
  text-decoration: none;
}
.item-list:hover,
.item-list:active {
  color: #ff0000;
}
/**area central**/
.titulo_principal {
  text-align: center;
  text-transform: uppercase;
  font-size: 60px;
  color: #0f460f;
  margin: 80px;
}
.titulo-productos {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  color: #0f460f;
  padding-top: 60px;
}
.productos {
  border-top: solid 4px #0f460f;
  border-bottom: solid 4px #0f460f;
  background-color: #fff;
}
ul {
  list-style: none;
}
/**seccion de productos**/
.cards {
  padding: 60px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.card {
  /* background-color: #0f460f; */
  border-radius: 30px;
  overflow: hidden;
  border: solid 3px #0f460f;
  max-width: 280px;
}
.card-imagen {
  width: 100%;
  height: auto;
}
.card-div {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.card-titulo {
  font-size: 25px;
  background-color: #fff;
  text-align: center;
  border-radius: 20px;
  color: #0f460f;
}
.card-boton {
  background-color: #fff;
  padding: 15px;
  border-radius: 20px;
  border-style: hidden;
  color: #0f460f;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
.card-boton:hover {
  color: #ff0000;
}
/**cuadro resort**/
.resort {
  direction: flex;
}
.titulo-resort {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  color: #0f460f;
  padding-top: 60px;
  padding-bottom: 60px;
}
.card-resort {
  width: 70%;
  margin: auto;
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;
}
.imagen-resort {
  width: 100%;
  height: auto;
}
.intro-resort {
  font-size: 40px;
  padding: 20px;
}
.pie-resort {
  text-align: center;
}
.boton-reservar {
  background-color: #0f460f;
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  height: 80px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border: 0;
}
.boton-reservar:hover {
  color: #ff0000;
}
/**foot**/
.seccion-pies {
  margin-top: 20px;
  padding: 30px;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
}
.pies {
  font-size: 20px;
  width: 100%;
}
.lista-nav2 {
  text-align: end;
}
/* CSS GALERIA FOTOS */
.verano {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.ganadores_verano {
  background-color: #fff;
  padding: 10px;
  border-radius: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "foto_ganador1 foto_ganador1 foto_ganador1 foto_ganador1"
    "foto_ganador1 foto_ganador1 foto_ganador1 foto_ganador1"
    "foto_ganador2 foto_ganador2 foto_ganador3 foto_ganador3"
    "foto_ganador2 foto_ganador2 foto_ganador3 foto_ganador3";
  width: 800px;
  height: 800px;
  gap: 10px;
}
.fotos {
  background-position: center;
  background-size: cover;
  border-radius: 50px;
  font-size: 30px;
  border: #0f460f 2px solid;
}
.nombre_ganador,
.pais_ganador {
  background-color: rgba(255, 255, 255, 0.614);
  color: #0f460f;
  padding-left: 15px;
}
.nombre_ganador {
  margin-top: 50px;
}
.foto_ganador1 {
  background-image: url(../img/berenjena.jpg);
  grid-area: foto_ganador1;
}
.foto_ganador2 {
  background-image: url(../img/zanahoria.jpg);
  grid-area: foto_ganador2;
}
.foto_ganador3 {
  background-image: url(../img/rucola.jpg);
  grid-area: foto_ganador3;
}
@media screen and (max-width: 480px) {
  .container_2 {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr repeat(4, 1fr);
    grid-template-areas:
      "logo"
      "quiensoy"
      "productos"
      "servicios"
      "contactos";
  }
}

@media (max-width: 768px) {
  .main-img {
    font-size: 40px;
  }
  .ganadores_verano {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr repeat(2, 2fr);
    grid-template-areas:
      "foto_ganador1"
      "foto_ganador2"
      "foto_ganador3";
  }
}
