@import "bg";
@import "fonts";
// map
$filosofias: (
  one: #4285f4,
  two: #a91414,
  three: #f3f30b,
  four: #ce22ce,
);
@each $item, $color in $filosofias {
  .filosofia-#{$item} {
    background-color: $color;
  }
}
//mixins
@mixin espacio($derecha, $izquierda) {
  margin-right: $derecha;
  margin-left: $izquierda;
}
.box-futuro {
  @include espacio(200px, 200px);
}
//extend
.titulo-futuro {
  @extend .titulo-filosofia;
  margin-bottom: 48px;
}
.box-futuro {
  @extend .box-filosofia;
}
.titulo-filosofia {
  margin-top: 110px;
  text-transform: uppercase;
  font-size: 52px;
}
.box-filosofia {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filosofias {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 40px;

  div {
    padding: 80px;
  }
  h4 {
    font-size: 28px;
    text-decoration-line: underline;
    margin-bottom: 20px;
  }
  p {
    font-size: 20px;
  }
  .img-filosofia {
    grid-row: 1/3;
    grid-column: 1/3;
    padding: 80px;
    padding-top: 0;
    justify-self: center;
  }
}
.futuro {
  @extend .filosofias;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 50px;
}
